.container {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    font-weight: 500;
    color: #677277;
}
.app-platform {
    padding: 20px;
    border: 1px solid #677277;
    border-radius: 10px;
    background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
}
.git-link {
    display: block;
    text-align: center;
}
h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
    font-size: 16px;
}
li:first-letter {
    text-transform: capitalize;
}
.summary {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
#icon {
    height: 64px;
    width: 64px;
}
.number {
    font-size: 64px;
    line-height: 1;
}
.units {
    line-height: 32px;
}